[2017-12-06 09:52] mathiasbynens opened #1 "Windows support"
The goal of this project is to support Mac, Linux, and Windows. I haven’t been able to test on Windows yet, however.

I suppose we’d have to use `Installer#installScript` to create batch files that run in `cmd.exe`.

Maybe @bterlson and @domenic have some input?

[2017-12-06 18:28] bterlson commented on #1
Confirmed it does not work:

![image](https://user-images.githubusercontent.com/11236/33678225-fed1d634-da6f-11e7-9831-cfd262041b6e.png)

I usually avoid generating bash scripts for portability reasons and instead use pure JS (possibly with a shell helper like shelljs). Does this approach seem feasible? Otherwise yeah generating batch files will work. Not all windows people use Bash :)

[2017-12-06 18:47] bterlson commented on #1
Ahh sorry, after updating my Node version from the super old 8.2 series, I get the following (likely more relevant) error:

![image](https://user-images.githubusercontent.com/11236/33679179-d73b7ba4-da72-11e7-8d33-4c94332ba447.png)

[2017-12-06 18:51] mathiasbynens commented on #1
Apparently, [Windows does not allow creating symlinks without admin privileges](https://github.com/angular/angular-cli/issues/641#issuecomment-217548384) (i.e. without running `cmd.exe` as admin). Note to self: avoid symlinks in the Windows-specific installers.

[2017-12-06 20:21] mathiasbynens commented on #1
@bterlson kindly shared another screenshot where symlinks are enabled by enabling Developer Mode:

![](https://user-images.githubusercontent.com/81942/33683454-40eebb6c-dacb-11e7-9991-96daf947a6e7.png)

It seems like on Windows, the DLLs really must be placed in the same directory.

[2017-12-06 21:59] #1 closed

[2017-12-06 22:00] mathiasbynens commented on #1
@bterlson How did you get the non-ASCII characters to show up so nicely? I’m getting this:

![](https://user-images.githubusercontent.com/81942/33687720-44419524-dad9-11e7-9160-892c6992fc54.png)

[2017-12-07 00:14] senthilp opened #2 "Empty engines list cause jsvu to exit without warnings"
https://github.com/GoogleChromeLabs/jsvu/blob/b203fc9010f28d66e03cdbdbac5e0296aed15d0c/cli.js#L118

When we run `jsvu` for the first time and do not choose any engines, the `~/.jsvu/status.json` file is created with an empty engine list.
[code]
The [clis.js](https://github.com/GoogleChromeLabs/jsvu/blob/master/cli.js#L118) file only checks if `status.engines === undefined` and not empty length. Th

[2017-12-07 00:19] bterlson commented on #1
Yeah default console isn't so good at special characters. I use [Hyper](https://github.com/zeit/hyper) on Windows and it's great.

Reporting in that this now works on Windows provided you install AAS libs for JSC by either installing iTunes or by extracting the installer .msi using 7-zip or other archive utility (once extracted, look for AppleApplicationSupport.msi). Fwiw it seems like extracting

[2017-12-07 00:32] bterlson opened #3 "Windows: add @echo off to generated .bat files"
This prevents needless spew from showing up in, e.g., eshost output.

[2017-12-07 00:46] dilijev opened #4 "generate a d8.cmd as well"
Some people used to running the console hosts are used to calling the console host for v8, 'd8'

[2017-12-07 03:04] deepakshrma opened #5 "Node version and pre-requisite didn`t mention in doc"
Hi @mathias,

Great tool. However, document misses node js(v8.0.0+) version and pre-requisite libs. Just for improvement.

[2017-12-07 06:11] mathiasbynens commented on #4
I’m opposed to this, as we’d then also have to add `js.cmd` for `SpiderMonkey`, and these names are confusing for anyone who hasn’t use the binaries directly IMHO. It’s easy enough to set up a symlink to `~/.jsvu/v8` or `~/.jsvu/spidermonkey` yourself if you’re used to invoking `d8` instead.

[2017-12-07 06:15] #3 closed

[2017-12-07 11:43] mathiasbynens opened #6 "Make it more ergonomic to bypass the initial prompt"
This is especially useful for for CI runs.

Bypassing the initial prompt is already possible by writing to `~/.jsvu/status.json`, but it would be nicer to have CLI flags to do so.

[code]

[2017-12-07 11:43] mathiasbynens commented on #2
Also show a warning when no engines have been selected immediately after prompting.

[2017-12-07 13:37] #2 closed

[2017-12-07 13:37] #6 closed

[2017-12-07 14:40] #5 closed

[2017-12-07 16:57] hemanth opened #7 "Prompt missing for the second time?"
<img width="429" alt="screen shot 2017-12-07 at 10 24 37 pm" src="https://user-images.githubusercontent.com/18315/33727264-84adfde0-db9d-11e7-9bb6-19fb2d2949fc.png">

^ I selected `v8` and installed it, the next time I ran `jsvu` I was expecting the prompt to install others.

<img width="404" alt="screen shot 2017-12-07 at 10 24 43 pm" src="https://user-images.githubusercontent.com/18315/33727281-

[2017-12-07 17:00] hemanth opened #8 "Avoiding manual export"
`export PATH="${HOME}/.jsvu:${PATH}"`

Was trying to find ways to avoid that step.

Had done something similar on [node-nightly](https://github.com/hemanth/node-nightly).

[2017-12-07 17:04] hemanth opened #9 "Chakra for macOS ≥ 10.12 only?"
<img width="709" alt="screen shot 2017-12-07 at 10 31 32 pm" src="https://user-images.githubusercontent.com/18315/33727658-b499ce52-db9e-11e7-95b0-a9ed7f5f5fa1.png">

[code]

[2017-12-07 21:18] dilijev commented on #4
Fair enough. I've done this for myself.

[2017-12-07 21:18] #4 closed

[2017-12-07 21:43] bterlson commented on #9
I believe we should support 10.8 or above. @obastemur (Chakra dev extraordinaire) may be able to provide more insight into this error.

[2017-12-07 21:52] mathiasbynens commented on #9
This doesn’t seem like a _jsvu_ bug.

[2017-12-07 22:00] mathiasbynens commented on #7
The idea is you select all the engines you want to manage through `jsvu` on the first run. It then goes and installs them for you. Later, you run `jsvu` again whenever you want to update them to the latest version.

You can `rm ~/.jsvu/status.json` to start over, or run `jsvu --os=mac64 engines=all` to enable installing all engines.

[2017-12-07 22:01] #7 closed

[2017-12-07 22:03] bterlson commented on #9
@mathiasbynens agree, fwiw :) @hemanth do you think you could open this on our repo? (https://github.com/microsoft/chakracore). I'm happy to open it on your behalf as well.

[2017-12-07 22:04] mathiasbynens commented on #8
It’s not _really_ necessary — if you don’t want to modify your `PATH` you could just explicitly run e.g. `~/.jsvu/v8` every time.

An alternative could be to install aliases but that would require modifying the user’s dotfiles dynamically is something I’m not comfortable with (and would IMHO be worse than recommending to extend `PATH`).

[2017-12-07 22:18] mathiasbynens commented on #1
Thanks to @bterlson for letting me use his cloud VM so I could add Windows support! ♥

[2017-12-07 22:30] bterlson commented on #1
@mathiasbynens happy to help, though you should get your own windows device for "testing" purposes ;)

Shall I jettison the VM now that things are working?

[2017-12-07 22:32] mathiasbynens commented on #1
Yes, please feel free to reclaim the VM. :)

[2017-12-08 03:14] CoderLim opened #10 "Unhandled promise rejection"
![image](https://user-images.githubusercontent.com/13973117/33749488-f095b924-dc08-11e7-9631-613fbc5e3312.png)

What's the problem?

[2017-12-08 03:39] hemanth commented on #7
Ended up with `rm ~/.jsvu/status.json`;

`jsvu --os=mac64 engines=all` FTW!

[2017-12-08 03:42] hemanth commented on #9
Yup, not a jsvu bug.

Created #[ChakraCore#4393](https://github.com/Microsoft/ChakraCore/issues/4393).

Thanks.

[2017-12-08 03:42] #9 closed

[2017-12-08 04:52] #8 closed

[2017-12-08 06:45] mathiasbynens commented on #10
You’re using an old Node.js version. Didn’t npm give you a [warning](https://github.com/GoogleChromeLabs/jsvu/blob/0f058f4c335733bf1c52dae5eb70de6090676dd9/package.json#L14) when installing?

[2017-12-08 09:01] #10 closed

[2017-12-08 18:38] mathiasbynens commented on #10
I’ve added an explicit note to the README now. Thanks for the report!

[2017-12-10 00:36] mathiasbynens opened #11 "Issues with non-ASCII symbols in directory names on Windows"
See <https://twitter.com/Bjorn_py/status/939648848724660226>:

[2017-12-10 00:46] mathiasbynens commented on #11
Is there a way of getting the home directory in Windows in [8.3 format](https://support.microsoft.com/en-us/help/142982/how-windows-generates-8-3-file-names-from-long-file-names)?

I’ve asked Björn what `node -p 'require("os").homedir()'` (which is what `untildify` uses) returns for him.

[2017-12-10 00:51] mathiasbynens commented on #11
It would also be interesting to check [`node -p 'require("os").tmpdir()'`](https://nodejs.org/api/os.html#os_os_tmpdir), as according to the above screenshot, that one gets it right.

[2017-12-10 00:52] mathiasbynens commented on #11
Is there a way of getting the home directory in Windows in [8.3 format](https://support.microsoft.com/en-us/help/142982/how-windows-generates-8-3-file-names-from-long-file-names)?

I’ve asked Björn what [`node -p 'require("os").homedir()'`](https://nodejs.org/api/os.html#os_os_homedir) (which is what `untildify` uses) returns for him.

It would also be interesting to check [`node -p 'require("os")

[2017-12-10 01:07] mathiasbynens commented on #11
Is there a way of getting the home directory in Windows in [8.3 format](https://support.microsoft.com/en-us/help/142982/how-windows-generates-8-3-file-names-from-long-file-names)?

I’ve asked Björn what [`node -p 'require("os").homedir()'`](https://nodejs.org/api/os.html#os_os_homedir) (which is what `untildify` uses) returns for him.

It would also be interesting to check [`node -p 'require("os")

[2017-12-10 11:52] mathiasbynens commented on #11
![](https://user-images.githubusercontent.com/81942/33804604-b89bb0e0-dda8-11e7-8d9d-43bce06f51ff.png)

Just dusted off my old Windows 7 VM and tested this myself. `realpathSync` doesn’t help. My more surprising hypothesis of `tmpdir()` getting it right while `homedir()` doesn’t seems to be correct. 😨

[2017-12-10 23:22] refack commented on #11
In reply to https://github.com/nodejs/node/issues/17586#issuecomment-350579889:
This seems to stem from a known limitation in `cmd.exe` that it doesn't understand Unicode (or UTF-8).
There are various workarounds, but the most useful is to work with only relative paths, or env vars so:
[code]
will work, or:
[code]
`%~dp0` being the directory `foo.cmd` is in.

Draft PR in #12

[2017-12-11 00:22] silverwind commented on #11
Another idea would be to create a Powershell script (`.ps1`) and run that, thought the default execution policy might interfere.

[2017-12-11 00:40] refack commented on #11
We can wrap the call to `.ps1` in a `.cmd` file (bypass both execution policy and the fact that `.ps1` are not associated with powershell).
[code]

[2017-12-11 09:48] #11 closed

[2017-12-12 11:54] karuppasamy commented on #10
Getting the same error again even after upgrading the nodeJs to v8.9.3.

[code]

[2017-12-12 12:55] mathiasbynens commented on #10
Looks like HTTP request fails… Can you please update to the latest `jsvu` version (`npm install jsvu -g`) and try again? Let me know what it logs.

[2017-12-14 23:23] karuppasamy commented on #10
@mathiasbynens It's failed due the proxy settings (`http_proxy`, `https_proxy` in terminal). I made it success by disabling the proxy. Thanks for the response.

[2017-12-15 21:55] dilijev opened #13 "SHA-256 checksum: undefined"
On Windows, Node 9.2.0, jsvu v1.0.4:

[code]

Is `SHA-256 checksum: undefined` a bug?

[2017-12-15 22:02] mathiasbynens commented on #13
Looks like GitHub changed its HTML output for pages such as https://github.com/Microsoft/ChakraCore/releases/tag/v1.7.5, adding `rel="nofollow"` to the download links. The regular expression at https://github.com/GoogleChromeLabs/jsvu/blob/bc4719922f8be03af4511442b80ab73f27864c29/engines/chakra/get-checksums.js#L21 wasn’t expecting this.

I’ll work around this for now, but a more robust fix would

[2017-12-15 22:03] #13 closed

[2017-12-15 22:22] mathiasbynens commented on #13
Another bug was that if the checksum is not found, it’s set to `undefined`, causing it to be ignored.

Since the downloads take place over HTTPS, the checksum verification is not really necessary — this doesn’t really impact security. Still, I’ve made jsvu throw an exception when it cannot find a checksum it was expecting to find.

[2017-12-16 00:15] dilijev commented on #13
I'll discuss with the team whether we can host LATEST metadata on the master branch or something similar to help work around this problem. I think probably a LATEST.json file that has latest version number, links to the downloads and their corresponding checksums, rather than having JSVU rely on the release page.

[2017-12-16 07:13] mathiasbynens commented on #13
Thank you! `LATEST.json` would be amazing.

[2017-12-17 15:04] cxfeng1 opened #14 "jsvu run failed:"SyntaxError: Unexpected token""
[code]

My node version is `v6.2.2`

[2017-12-17 15:12] cxfeng1 commented on #14
It looks to be solved when I upgrade my node verstion to `v9.3.0`

[2017-12-17 15:13] #14 closed

[2017-12-17 15:28] mathiasbynens commented on #14
What version were you using before? I guess it was older than v8.9.0: https://github.com/GoogleChromeLabs/jsvu#installation

[2018-01-23 12:58] chicoxyzzy opened #16 "Enable installing specific engine versions alongside the auto-updated binary"
It may be useful to compare results of different versions (not only latest). It'll be great to have version manager to be able to run such tests.

[2018-01-23 19:27] michaelficarra opened #17 "invalid checksum for ChakraCore on 64-bit linux"
[code]

Manually fetching this file yields the same (actual) hash I see here.

[2018-01-23 19:31] mathiasbynens commented on #17
I can confirm this:

[code]

https://github.com/Microsoft/ChakraCore/releases/tag/v1.8.0 says the SHA-256 checksum for the Linux archive is supposed to be `76db2799c044de8aabb4dec565ff4d2e26055af272f6cb71ba490229c3fe2a16`.

@dilijev @bterlson Does the GitHub page contain the wrong hash somehow, or is something terrible going on?

[2018-01-23 20:03] dilijev commented on #17
@obastemur can you check the hash of the original file? Maybe there was an upload error?

[2018-01-23 20:05] dilijev commented on #17
I confirmed on Windows the actual hash from the download is A0BEE34BA584F36B379012CC837A517A9FE365C21A0FCCD4E1B7FA8DF7A6C381

[2018-01-23 20:12] dilijev commented on #17
The hashes of the other two archives in that release (Windows, OSX) match the expected hashes.

[2018-01-23 21:06] mathiasbynens commented on #17
@dilijev Can you please update the hash on https://github.com/Microsoft/ChakraCore/releases/tag/v1.8.0?

I’m closing this issue as this is not a jsvu bug.

+@natashenka who also just ran into this.

[2018-01-23 21:06] #17 closed

[2018-01-23 21:43] dilijev commented on #17
We have fixed the download. Expected hash remains the same.

[2018-01-23 21:46] mathiasbynens opened #18 "Add XS (Moddable) support"
I’d love to add support for Moddable/XS to jsvu!

1. Does [Moddable](https://github.com/Moddable-OpenSource/moddable) offer precompiled XS binaries somewhere?
1. Is there a way of getting the latest available version (e.g. a `LATEST` file)?

+@phoddie

[2018-01-23 22:00] phoddie commented on #18
Adding Patrick and Michael Kellner from Moddable to help.

+@patrick-soquet
+@mkellner

[2018-01-24 04:45] mathiasbynens commented on #16
My gut reaction is that this is outside the scope of the jsvu project.

I could, _maybe_, be convinced to add a CLI flag to install a given version of a given JavaScript engine, e.g.:

[code]

But I feel like the actual management of multiple versions should then be handled outside of jsvu, as part of another tool. WDYT?

[2018-01-24 06:40] michaelficarra commented on #17
@dilijev Should I be concerned about the file I downloaded and ran earlier with the invalid hash? Is there an explanation for what happened?

[2018-01-24 06:54] dilijev commented on #17
User error. We accidentally set the link to redirect to the 1.7.4 archive. (You'll notice the actual hash matches the version [here](https://github.com/Microsoft/ChakraCore/releases/tag/v1.7.4).)

The hash was correct for the 1.8.0 archive, and the link has now been fixed so that the correct archive is downloaded.

So basically you just got an older version of ChakraCore than you expected.

[2018-01-24 07:22] chicoxyzzy commented on #16
Yes, this is good option too.

[2018-01-24 07:30] michaelficarra commented on #17
❤️ Thanks.

[2018-02-15 15:54] leobalter opened #19 "Use a debug build for ChakraCore"
So we can use flags as well.

[2018-02-15 15:55] leobalter opened #20 "Show download status"
one of the downloads went very slow (5+ minutes). It would be nice to show the status of the download.

[2018-02-15 17:04] mathiasbynens commented on #20
👍

`got` supports [progress events](https://github.com/sindresorhus/got#ondownloadprogress-progress) which could be used for this.

[2018-02-15 17:07] mathiasbynens commented on #19
I don’t think the Chakra team offers debug build downloads, unfortunately. @dilijev?

[2018-02-15 17:34] leobalter commented on #19
I imagined that, but perhaps this could become a motivation?

[2018-02-16 03:22] dilijev commented on #19
At the moment we don't offer any debug builds (and we only make monthly releases of ChakraCore.) We might be able to do so via a NuGet package hosted on MyGet.org (that was the original idea behind that feed) but there hasn't really been demand so far. @mslaguana what do you think?

[2018-02-16 15:38] #20 closed

[2018-02-16 16:39] leobalter commented on #20
nice, thank you!

[2018-02-16 23:45] dilijev commented on #19
Can't make any promises at this point, but I will look into whether we can come up with a reasonable story for regular ChakraCore debug builds from the various platforms. To not let perfect be the enemy of good, I will assume anything is better than nothing (e.g. adding Windows-only support at first).

[2018-02-23 19:42] dilijev opened #21 "Windows jsvu 1.0.8 and 1.0.9 error getting chakra and jsc"
[code]

[2018-02-23 20:15] mathiasbynens commented on #21
These both look like upstream issues with the respective servers.

### Chakra

Is <https://aka.ms/chakracore/cc_windows_all_1_8_1> the correct URL? The page it redirects to returns an error.

[code]

### JavaScriptCore

The certificate for https://nightly.webkit.org/ is no longer valid.

[2018-02-23 20:17] dilijev commented on #21
I'll check on Chakra.

[2018-02-23 20:22] mathiasbynens commented on #21
I’ve reported the nightly.webkit.org downtime to [webkit-dev](https://lists.webkit.org/pipermail/webkit-dev/2018-February/029892.html). They’re aware of the problem and are working on a fix.

[2018-02-23 20:40] mathiasbynens commented on #21
nightly.webkit.org is back!

[2018-02-24 00:09] dilijev commented on #21
I see that the server is back but now 404:

[code]

Chakra is fixed on my end.

[2018-02-24 00:27] mathiasbynens commented on #21
Hmm, the download link <https://s3-us-west-2.amazonaws.com/archives.webkit.org/win-i386-debug/228967.zip> works for me.

[2018-02-24 00:59] dilijev commented on #21
Yeah it's fine for me now, too. Maybe was a glitch.

[2018-02-24 00:59] dilijev commented on #21
This is resolved now so I'm closing the issue.

[2018-02-24 00:59] #21 closed

[2018-02-24 01:23] dilijev commented on #19
We can do the Windows-only approach by adapting our present infrastructure (MyGet.org NuGet package to distribute Windows binaries). We will let you know when it is done.

Our terminology: Debug has asserts, some debug-only code, and is an unoptimized build (/O0). Test is Release but with test flags (this + canary builds are the main request here I think).

We would prefer distributing Test builds

[2018-02-27 09:53] patrick-soquet commented on #18
Just created a pull request. And signed the CLA!

[2018-03-02 11:44] #18 closed

[2018-03-02 14:49] leobalter commented on #19
@dilijev yes, it sounds good! This will be very helpful in order to check tests and results, including features under flags, so it works for me!

[2018-03-02 23:29] thlorenz opened #23 "Missing mkdirp module"
Getting the following error right after installation:

[code]

[2018-03-02 23:37] #23 closed

[2018-03-02 23:43] thlorenz opened #25 "Allow to select older versions of a runtime/debugger"
Hey awesome tool, just installed v8 with it in about a few seconds vs 15 mins compiling :)

However I'm trying to compare different v8 versions (crankshaft vs. turbofan), so I'd like to define which version to checkout exactly.

At this point it only allows me to select chakra or v8 or so.

[2018-03-02 23:44] thlorenz commented on #25
Not gonna file a new issue, but it'd be nice to select which kind of build as well, i.e. for perf tests you want release, but to get more info on `%DebugPrint` the `optdebug` build is more useful.

I like to have both in my environment, aliased to different names.

[2018-03-02 23:48] mathiasbynens commented on #25
This came up before in https://github.com/GoogleChromeLabs/jsvu/issues/16#issuecomment-360019511.

However, there is another issue at play here:

We only started to offer precompiled V8 binary downloads after Crankshaft vs. TurboFan were already released. So even if explicit version support is added to jsvu, it would only work for versions that have an existing download.

The same applies for the

[2018-03-02 23:49] mathiasbynens commented on #25
Another problem:

We (V8) currently don’t offer precompiled debug build binaries.

[2018-03-02 23:50] thlorenz commented on #25
Ah ok, thanks for the quick answer. I'll keep a manually compiled crankshaft version around then and will once in a while build me a kinda up to date debug build to investigate :).

[2018-03-02 23:50] #25 closed

[2018-03-02 23:51] mathiasbynens commented on #25
If such downloads ever become available, I’d be open to adding a `v8-debug` entry to jsvu. https://github.com/GoogleChromeLabs/jsvu/issues/19 is a similar case, for Chakra.

[2018-03-04 21:05] mathiasbynens opened #26 "Add anba/es6draft support"
@anba maintains a JavaScript engine here: https://github.com/anba/es6draft

It’s written in Java, but currently no precompiled `jar` files are provided. I’ll file a feature request upstream.

[2018-03-22 10:08] vsemozhetbyt opened #27 "V8 debug binaries"
Please consider a way to provide precompiled V8 debug binaries so that developers could use the full output of `%DebugPrint()` and other features.

[2018-03-22 10:11] mathiasbynens commented on #27
Similar request for Chakra: #19

[2018-03-22 22:36] mathiasbynens opened #28 "Failing xs downloads"
As [reported](https://twitter.com/apaprocki/status/976843818325741568) by @apaprocki, `xs` downloads are failing:

[code]

Glancing over https://github.com/Moddable-OpenSource/moddable-xst/releases, it looks like the URL format for the recent v8.4.0 downloads is different than the agreed-upon format.

[code]

@patrick-soquet can you please restore the expected URL format?

[2018-03-22 23:34] apaprocki commented on #28
@mathiasbynens You beat me to it, sorry was afk :)

[2018-03-22 23:44] mathiasbynens commented on #28
@apaprocki No worries :) Thanks for the report!

[2018-03-23 09:30] patrick-soquet commented on #28
Oops. Wrong place to upload. It should be better now.

[2018-03-23 10:29] mathiasbynens commented on #28
Thanks!

[2018-03-23 10:29] #28 closed

[2018-04-06 23:21] vsemozhetbyt opened #29 "Are Node.js nightly and v8-canary supported?"
Windows 7 x64.
Node.js `10.0.0-v8-canary-2018-04-03-635853bf03` (V8 `6.7.213-node.0`)
jsvu v1.1.1
Second (updating) run:
[code]

[2018-04-06 23:28] vsemozhetbyt commented on #29
Node.js `10.0.0-nightly-2018-04-03-d54f651910` (V8 `6.5.254.43-node.5`)
[code]

[2018-04-06 23:31] vsemozhetbyt commented on #29
Node.js `9.11.1` (V8 `6.2.414.46-node.23`) is OK.
[code]

[2018-04-08 13:32] mathiasbynens commented on #29
Only the version in [`.nvmrc`](https://github.com/GoogleChromeLabs/jsvu/blob/master/.nvmrc) and any more recent stable Node.js versions are supported.

The breakage you describe seems like it would affect many more projects, and would therefore not make it to Node.js stable.

[2018-04-08 14:34] devsnek commented on #29
evil chain is as follows: `unzip` -> `fstream` -> outdated `graceful-fs` -> outdated `natives` (and as a sidenote the idea of an unzip package using streaming makes me rather nervous, as zip files aren't stream safe)

[2018-04-08 14:36] targos commented on #29
You can fix this by reinstalling `jsvu` to get the latest version of `natives`.

[2018-04-08 15:10] vsemozhetbyt commented on #29
Thank you, reinstalling fixes the issue.

[2018-04-08 15:11] vsemozhetbyt commented on #29
Should the new version of `jsvu` be released for this update?

[2018-04-11 10:55] mathiasbynens opened #30 "Support jsc on Linux"
https://lists.webkit.org/pipermail/webkit-dev/2017-December/thread.html#29806

[2018-04-11 13:36] mathiasbynens commented on #29
I published a new version. Thanks, everyone!

[2018-04-11 13:36] #29 closed

[2018-04-11 18:01] paulirish opened #31 "✖ TypeError: Cannot read property '1' of null"
![image](https://user-images.githubusercontent.com/39191/38634305-02d00a8e-3d77-11e8-9295-a0438fc017f7.png)

The regex didnt match.

Not necessarily because of ZA̡͊͠͝LGΌ, but because they don't use a compare link anymore.

[2018-04-11 18:11] #31 closed

[2018-04-12 00:18] kfarnung opened #34 "JSVU fails to run in node-chakracore"
I attempted to use JSVU with node-chakracore v8.10.0 and encountered the following:

[code]

I did a bit of digging and it appears to be the usage of object spread which causes the failure:

[code]

With that change I'm able to run successfully in node-chakracore.

[2018-04-13 13:38] mathiasbynens opened #35 "V8 download for v6.7.288.5 is failing"
For some reason <https://storage.googleapis.com/chromium-v8/official/canary/v8-mac64-rel-6.7.288.5.zip> doesn‘t work. As long as v6.7.288.5 is the first tag to appear on https://github.com/v8/v8/releases, V8 downloads through jsvu won’t work.

This problem will resolve itself once a new V8 tag is created.

A proper long-term solution would require a more reliable way of getting the latest V8 versi

[2018-04-13 15:14] mathiasbynens commented on #35
*Update:* I spoke to Michael Achenbach who was kind enough to write [a patch adding `LATEST.json` files for each architecture](https://chromium-review.googlesource.com/c/chromium/tools/build/+/1012103) that get updated whenever a new prebuilt download is published. These files will go live as soon as the V8 LKGR updates.

This change allows jsvu to get “the latest V8 version [for this architecture

[2018-04-13 15:27] #35 closed

[2018-04-24 23:33] dilijev commented on #34
Continues to repro with Node-ChakraCore 10.0.0 and jsvu 1.1.4

[2018-04-26 20:13] thlorenz opened #37 "[cli] `--engines` flag not respected"
Even though I pass `--engines=v8` it still queries the engines I'd like to install.
I'd expect it to install v8 without asking instead.

[code]

[2018-04-26 20:27] thlorenz opened #38 "[enhancement] check if we already have latest engine version before downloading"
At this point jsvu will always download and install the latest version regardless if I already have it installed.

A simple check via `v8 -e 'print(version())'` could be done and the user informed that he/she already has the latest. Similarly could be done for other engines.

[2018-04-26 20:31] thlorenz commented on #38
Just realizing that this info is indeed stored in `status.json` and respected as I'd expect.
I just was working around the `--engines` issue by writing the `status.json` from scratch and thus didn't get the benefit ;)

[2018-04-26 20:31] #38 closed

[2018-04-27 05:08] mathiasbynens commented on #37
[The CLI flags](https://github.com/GoogleChromeLabs/jsvu#integration-with-non-interactive-environments) only make sense for the CI use case, where you’d pass both `--engines` and `--os`. For every other use case, e.g. to manage installations on your development machine, you should just run `jsvu`. It persists your settings.

Do you have a different use case?

[2018-04-27 23:53] mathiasbynens commented on #37
Just to be clear: I’m okay with patching this, but I also don’t want to encourage people from using these flags outside of CI environments. And outside of CI environments, the current behavior is okay, as you always pass both flags there.

[2018-04-27 23:58] mathiasbynens commented on #34
Although this seems like a simple change, I’m worried that adding Node-ChakraCore support would exponentially increase jsvu development time. I’d have to figure out which features are supported in each engine before using them, plus I’d have to test each and every change in both engines.

Is there an easy way of testing Node-ChakraCore on CI environments? Do you have any recommendations for develo

[2018-05-06 03:51] #30 closed

[2018-05-10 18:09] rwaldron opened #40 "V8 version: v6.8.199 producing http 403"
[code]

A quick reality check of https://storage.googleapis.com/chromium-v8/official/canary/v8-mac64-rel-6.8.199.zip reveals:

[code]

[2018-05-11 18:13] rwaldron commented on #40
Same is happening with v6.8.204

[2018-05-11 18:18] mathiasbynens commented on #40
Are you using jsvu v1.2.2? This sounds similar to #35.

[2018-05-11 18:37] rwaldron commented on #40
Updating produces...

[code]

Using node v8.11.1

[2018-05-11 18:40] mathiasbynens commented on #40
Node.js v10 is now required. Does that help?

[2018-05-11 19:19] rwaldron commented on #40
@mathiasbynens any particular reason why you're **requiring** a not-yet-LTS version of Node? Node 10 isn't LTS until October. I will suffer through remembering to `nvm use 10` every time I need to update JS engines, but it would be great to at least know why I'm doing that :P

[2018-05-12 00:44] mathiasbynens commented on #40
No reason other than I like to use modern JS features as they become available. That said, I want jsvu to be useful for your use case. I had no idea you run Node.js LTS by default, and I’d be okay with following LTS for jsvu if that helps you.

[2018-05-12 00:48] mathiasbynens commented on #34
I chatted with @patrickkettner about this during I/O. He said Node-ChakraCore can be installed through nvm. I’d consider accepting a PR that extends our CI coverage to include Node-ChakraCore, and applies the above diff.

[2018-05-12 01:07] patrickkettner commented on #34
I was wrong, but am working on a PR to support it in nvm

[2018-05-12 01:08] #40 closed

[2018-05-12 01:15] dilijev commented on #34
FWIW it is supported in `nvs` if that's an option.

[2018-05-14 19:32] rwaldron commented on #40
@mathiasbynens you're the coolest—thanks <3

[2018-05-17 14:17] mathiasbynens commented on #34
`NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/chakracore-release nvm install 10` already works, except if you already have regular Node.js v10 installed. Having built-in support for `nvm install 10-chakracore` (or something similar) would be excellent!

[2018-06-03 19:15] rkirsling opened #43 "JSC could use WinCairo for Win64."
Hey @mathiasbynens! :wave: This is an awesome tool.

I noticed that Windows JSC is strictly using the 32-bit AppleWin port of WebKit (which depends on iTunes), but there's also a 64-bit WinCairo (i.e. non-Apple Windows) port, which my team works on. :smile:

Our documentation needs updating, but essentially you can skip the Apple-related dependencies and run `perl Tools\Scripts\build-webkit --winc

[2018-06-03 21:20] mathiasbynens commented on #43
Hey @rkirsling, great to see you here :) Thanks for the suggestion. Yeah, let’s do this!

I probably won’t get to this soon, so in case someone wants to contribute a patch for this: start in `engines/javascriptcore/*`.

[2018-06-12 09:56] #43 closed

[2018-06-16 00:24] dilijev opened #45 "jsc failing on windows"
Probably upstream but just in case this has to do with the way jsvu is unpacking jsc:

[code]

An error message pops up:

![image](https://user-images.githubusercontent.com/494055/41493850-a925e170-70c0-11e8-8be3-6d7819e9566f.png)

I'm confused because jscLib.dll is definitely extracted:

`Installing library to ~\.jsvu\engines\javascriptcore\jscLib.dll…`

And it's definitely there on disk and new.

[2018-06-18 06:47] mathiasbynens commented on #45
@rkirsling, could you take a look please?

[2018-06-18 06:54] rkirsling commented on #45
Sure, will look this week. :smile:

[2018-06-18 21:53] rkirsling commented on #45
The issue here is that certain third-party DLLs (e.g. ICU) are needed to run `jsc.exe`, so we'll need to fetch and unzip a copy of [WinCairoRequirements](https://github.com/WebKitForWindows/WinCairoRequirements/releases) as well.

Sorry I missed this in #44—I had these DLLs in my path (and forgot that these are among the things that 32-bit AppleWin port references `Program Files\iTunes` for).

[2018-06-20 04:39] rkirsling commented on #45
@mathiasbynens
Any particular way you'd like to see this addressed? It appears that every existing step of `updateEngine` applies to all engines and platforms (at least potentially, even if checksum verification isn't actually used everywhere). Yet no other engine or platform needs external dependencies, nor should they in the future.

What I'd really like is for my team to handle this on the othe

[2018-06-20 08:31] mathiasbynens commented on #45
How often do the `WinCairoRequirements` really change?

The ideal solution would be to include the `WinCairoRequirements` in the main ZIP file, especially if they change often. Should we revert #44 until this is done?

If they don't change that often, we could add a note to the README similar to the iTunes note telling people to install these dependencies manually... Although, where would the depe

[2018-06-20 16:48] rkirsling commented on #45
Yeah, they don't change very often (only a few times per year); that's why the build doesn't include them.

(The WebKit build product is primarily used by test bots, so having to redownload the same 60 MB of DLLs for every build would be rather wasteful. On the other hand, if we had a JSC-only build, we could just bundle in the dependencies, since it requires very few of them—eventually it should

[2018-06-20 16:56] mathiasbynens commented on #45
Sounds great — let’s do it!

Long-term, a JSC-only build would be lovely.

[2018-06-20 19:34] dilijev commented on #45
Putting WinCairoRequirements\bin64 on my PATH solved the crash on my end.

[2018-06-21 08:11] #45 closed

[2018-06-21 08:14] mathiasbynens opened #47 "Avoid `WinCairoRequirements` dependency"
We could avoid the `WinCairoRequirements` dependency if the upstream project could offer a JSC-only ZIP including only the JSC dependencies.

https://github.com/GoogleChromeLabs/jsvu/issues/45#issuecomment-398819620

+@rkirsling

[2018-07-27 20:32] tcare opened #49 "V8 stable releases"
I like to track stable vs. canary in various engines. V8 doesn't seem to always publish the .zip that matches the latest stable release on https://omahaproxy.appspot.com/.

Is there a reliable way to get these stable releases? Can we integrate this?

[2018-08-16 14:05] mathiasbynens commented on #27
Some upstream progress: https://bugs.chromium.org/p/v8/issues/detail?id=5918#c72. There are still some upstream issues with the builder configuration for Windows and macOS, and for Linux there's https://bugs.chromium.org/p/chromium/issues/detail?id=874862.

[2018-10-24 00:33] liorean opened #50 "ARM support?"
Right now jsvu is entirely limited to x86/x64 versions. It seems to me like ARM (32 & 64 bit) versions for at least linux and android would be desirable additions.

[2018-10-24 07:14] mathiasbynens commented on #50
Which of [the supported engines](https://github.com/GoogleChromeLabs/jsvu#supported-engines) offer precompiled arm32 and arm64 binaries?

[2018-10-24 07:15] mathiasbynens commented on #37
@thlorenz Did you want to submit a patch for this one?

[2018-10-24 14:28] thlorenz commented on #37
I will if I find some time :)

[2018-10-30 12:23] jakub-g opened #51 "Installation should create unixy shortcuts on Windows when invoked through git bash"
When installing from git bash on Windows, the tool should create unixy shortcuts instead of `cmd` ones (or actually it could create both, so that things work from `cmd` as well as `bash`).

[code]

git bash can be recognized via `/^MINGW(32|64)$/.test(process.env.MSYSTEM)`

[2018-10-30 15:46] mathiasbynens commented on #51
Disclaimer: I don't actively use Windows and know very little about `cmd` or `git bash`.

Do the `*.cmd` ones not work in `git bash`?

[2018-10-30 20:11] jakub-g commented on #51
Nope, git bash is bash compiled for Windows, it runs .sh files, it doesn't
run .bat or .cmd files itself directly.

You can invoke a .bat or .cmd via `cmd //c somefile.cmd` but the preferred
way is to use `./somefile.sh` just like on unixy platforms.

I'll try to have a look on it and send a patch.

On Tuesday, 30 October 2018, Mathias Bynens <notifications@github.com>
wrote:

[2018-11-28 19:08] #37 closed

[2018-11-30 00:49] dilijev opened #53 "Latest JSC failing even with WinCairoRequirements installed"
Edit:
I've tried uninstalling/reinstalling the latest node, jsvu, eshost, iTunes, and WinCairoRequirements.

[2018-11-30 03:38] rkirsling commented on #53
@dilijev Does pulling down the [latest release](https://github.com/WebKitForWindows/WinCairoRequirements/releases) help?

[2018-12-02 18:55] dilijev commented on #53
Apologies for not posting more details. I meant to follow up with more details after I tried uninstalling/reinstalling the whole shebang (jsvu, eshost, WinCairoRequirements, iTunes). Nothing helped.

@mathiasbynens The error appears to be the same as if no WinCairoRequirements were in stalled (the generic error message)
@rkirsling Yes, I installed the latest WinCairoRequirements you linked before

[2018-12-04 01:59] rkirsling commented on #53
Apparently in the [2018.10.09 release](https://github.com/WebKitForWindows/WinCairoRequirements/releases/tag/v2018.10.09) of WinCairoRequirements, the ICU DLLs changed from versioned filenames (e.g. `icudt61.dll`) to unversioned ones (e.g. `icudt.dll`), which means that the system32 DLLs of the same name will be prioritized over any that are specified in PATH.

We'll get a fix out as soon as we ca

[2018-12-13 23:48] dilijev commented on #53
@rkirsling: That workaround worked for me, thanks!

[2018-12-24 18:58] Drag13 commented on #27
Hi, is there any progress on this?

[2019-01-09 13:29] akoeplinger opened #54 "ChakraCore 1.11.5 fails to verify checksum because it expects lowercase string"
The regex in https://github.com/GoogleChromeLabs/jsvu/blob/5da9253b29b813f1799368432cd4dfee2f3c46f7/engines/chakra/get-checksums.js#L21 expects lowercase `a-f` but the latest ChakraCore release used uppercase chars in their checksum string (https://github.com/Microsoft/ChakraCore/issues/5902).

Would it be possible to modify the regex to allow uppercase `A-F` too?

[2019-01-09 15:51] mathiasbynens commented on #54
We can hotfix jsvu for this case.

It would be sweet if the Chakra team could automate this part of their release process (the variation in output as well as the recent [incorrect checksum](https://github.com/GoogleChromeLabs/jsvu/issues/17) implies this hasn’t been done yet) and stick to a single particular format, though. cc @dilijev @obastemur

[2019-01-09 15:53] mathiasbynens commented on #54
It would be even better to provide a JSON file at a predictable URL with the latest version number + checksum in it.

(This is what V8 does.)

[2019-01-09 15:54] #54 closed

[2019-01-09 16:36] akoeplinger commented on #54
@mathiasbynens it looks like there's another issue, the string comparison needs to be done case insensitively too:

[code]

[2019-01-09 17:53] mathiasbynens commented on #54
_facepalm_ Properly fixed in jsvu@1.3.3!

[2019-01-09 19:04] akoeplinger commented on #54
thanks, all good now ❤️

[2019-02-08 03:06] donny-dont commented on #53
@dilijev @mathiasbynens this should be fixed with the latest [WinCairoRequirements release](https://github.com/WebKitForWindows/WinCairoRequirements/releases/tag/v2019.02.07) and no longer require a workaround.

Please close after its verified 😺

[2019-02-08 07:51] mathiasbynens commented on #53
@dilijev Could you please check if that solves the issue for you (after undoing the workaround)?

[2019-02-14 15:25] mathiasbynens opened #55 "Missing binaries for Chakra v1.11.6"
https://github.com/Microsoft/ChakraCore/releases/tag/v1.11.6 was published without any binaries or checksums. This is tracked upstream at <https://github.com/Microsoft/ChakraCore/issues/5945>.

cc @akoeplinger @MikeHolman

[2019-02-15 12:12] surma opened #56 "Maybe add `--help`"
Currently, `--help` just runs `jsvu` normally and tries to update engines. Some help message would be appreciated (how do I list my installed engines? How do I run them? etc etc)

[2019-02-15 12:13] mathiasbynens commented on #56
This would be fairly simple to implement. The smallest possible change would be to add a `--help` / `-h` flag that just points to [the README](https://github.com/GoogleChromeLabs/jsvu#readme).

[2019-02-15 12:16] mathiasbynens commented on #55
This seems to have been fixed upstream.

[2019-02-15 12:16] #55 closed

[2019-02-23 04:27] dilijev commented on #53
Worked for me! (Removed the old installation folder of jsvu's copy of JavaScriptCore, and then installed the latest WinCairoRequirements, and then used jsvu to reinstall and tested all the engines under eshost.)

[2019-02-23 04:27] #53 closed

[2019-03-06 15:31] #27 closed

[2019-03-07 15:54] hashseed opened #59 "jsvu could provide Node.js with the latest V8"
It's available from here: https://ci.chromium.org/p/v8/builders/luci.v8.ci/V8%20Linux64%20-%20node.js%20integration%20ng

[2019-03-07 16:32] mathiasbynens commented on #59
Echoing our offline discussion: Node.js is not technically a JavaScript engine, and so this would better be served by `nvm`, IMHO. @ljharb, what do you think?

[2019-03-07 17:38] ljharb commented on #59
I’m confused, node is a JavaScript engine even though it’s mostly just embedding one.

Either way,  it’s unlikely that I would get to this anytime soon considering that nvm still does not support node release candidates and nightlies -  and I’m still not convinced this is a feature nvm should have. The only people who really need to use a different v8 are node platform developers and v8 engine dev

[2019-03-07 17:39] mathiasbynens commented on #59
@ljharb Would you be open to an `nvm` patch?

[2019-03-07 17:47] ljharb commented on #59
I’d want RC and nightly support finished first (i have a branch in progress from awhile back) - and I’m still not convinced of the usefulness of this. Additionally, making it easy for any random developer to use an arbitrary v8 version in node doesn’t seem to me like a benefit to the wider community.

[2019-03-08 08:05] mathiasbynens commented on #59
https://github.com/creationix/nvm/issues/1551

[2019-03-08 08:25] chicoxyzzy commented on #59
While this functionality in `nvm` would be definitely useful, It's already [possible](https://gist.github.com/chicoxyzzy/77dcbf21485d80b3ad870ed0d3286579) to install RC and nightly via `nvm`. It's not very convenient way, but @lukechilds made it easier with [`nvm-zsh`](
https://github.com/lukechilds/zsh-nvm#install).

[2019-03-08 15:47] #16 closed

[2019-03-12 20:53] fraxken commented on #56
I would be interested to help and talk about it :)

[2019-03-13 07:43] mathiasbynens commented on #56
@fraxken Would you be interested in sending a PR that make `-h`/`--help` point to the README?

[2019-03-13 08:52] fraxken commented on #56
yes ! I'm working on it tonight.

[2019-03-13 18:05] fraxken commented on #56
Done here: https://github.com/GoogleChromeLabs/jsvu/pull/62

[2019-03-14 05:48] kjpou1 opened #63 "ChakraCore v1.11.7 mac link has changed."
The link for mac osx Chakra has changed from "osx_x64" to "osx_64" for latest release.

So instead of `https://aka.ms/chakracore/cc_osx_x64_1_11_7` it is now `https://aka.ms/chakracore/cc_osx_64_1_11_7`

[2019-03-14 08:17] mathiasbynens commented on #63
Thanks for the report, @kjpou1! I'll wait for a response on [my upstream comment](https://github.com/Microsoft/ChakraCore/issues/6034#issuecomment-472746938) before making any changes on the jsvu side. This really just seems like a publishing error. :(

[2019-03-15 04:18] kjpou1 commented on #63
This is now fixed upstream.

[2019-03-15 04:18] #63 closed

[2019-03-15 17:26] mathiasbynens opened #64 "Cache user-entered version numbers in status.json"
E.g. when I run

[code]

jsvu should store a mapping from `7.3` to `7.3.492` in `status.json`, so that subsequent runs of the same command don't re-download the same version, but only download if the `7.3` version now maps to a new version number (e.g. `7.3.493`).

[2019-03-25 20:40] #64 closed

[2019-04-03 22:47] akoeplinger opened #65 "SpiderMonkey install broken"
The list at https://product-details.mozilla.org/1.0/firefox_history_development_releases.json seems to include `9.0b6` (from 2011) as the last entry now:

[code]

Looking at https://github.com/GoogleChromeLabs/jsvu/blob/master/engines/spidermonkey/get-latest-version.js and https://product-details.mozilla.org/1.0/firefox_versions.json it seems we could use the latter now as e.g. `LATEST_FIREFOX_DEV

[2019-04-03 23:07] akoeplinger commented on #65
We filed https://bugzilla.mozilla.org/show_bug.cgi?id=1541636.

[2019-04-04 08:00] mathiasbynens commented on #65
Alternatively, if we need to stick to `firefox_history_development_releases.json `:

[code]

I've pinged some Mozillians on IRC. Hopefully they'll be able to advise.

[2019-04-05 07:50] mathiasbynens commented on #65
https://github.com/mozilla/release-services/commit/5b96b5b6ad5f04df53c819a77b923b0601692fbb fixed this upstream. Closing this issue. Thanks everyone!

[2019-04-05 07:50] #65 closed

[2019-04-07 18:02] SoylentGraham opened #66 "Download complimenting headers too?"
This project is a saviour for me (It's such a pain building JSC & v8), but it would be great to have the matching revision headers to go with the libraries that have been built.

Whilst the CI for the resources don't seem to have headers etc (understandably) we could grab them from github etc.
For the user, webkit for example, is something like a 40gb checkout, so grabbing 10kb of headers takes a

[2019-04-07 22:35] SoylentGraham commented on #66
This may be a moot point as for JSC at least, no binding `.lib` is in the outputs of the build, so the binaries alone cannot be used anyway... (currently writing a manual `LoadLibrary()` bridge)

The original point may stand regarding keeping declarations & definition aligned though :)

[2019-04-08 06:45] mathiasbynens commented on #66
Hmm, I think this is out of scope for the jsvu project. You could automate this on top of jsvu if you want!

[2019-04-08 09:42] SoylentGraham commented on #66
Fair enough, I didn't want to implement it, submit a PR and have it dismissed and then have to maintain a fork :)
This is the only repository that is even close to providing a usable library (built, can link with etc), but it's not quite enough for that as it currently stands (but even then 1000x easier than trying to get JSC to build)

[2019-04-08 09:45] #66 closed

[2019-04-08 14:46] rail opened #67 "Do not rely on sorting provided by Mozilla"
In [bug 1541636](https://bugzilla.mozilla.org/show_bug.cgi?id=1541636) we found that if we break the sorting of the Firefox releases, than jsvu doesn't  generate proper results. It'd be better to sort the objects using the dates, without relying on the JSON parser nor the original order.

[2019-04-08 14:54] mathiasbynens commented on #67
Would Mozilla be open to providing [dedicated `latest.json` files](https://bugzilla.mozilla.org/show_bug.cgi?id=1541636#c3)?

If not, we’ll implement something like https://github.com/GoogleChromeLabs/jsvu/issues/65#issuecomment-479792811 as a workaround.

[2019-04-08 16:23] rail commented on #67
Sounds like a great candidate for a "good first bug"!

BTW, for nightly builds we already have [something simlar](https://download.cdn.mozilla.net/pub/firefox/nightly/latest-mozilla-central/firefox-68.0a1.en-US.linux-x86_64.buildhub.json). You still need to get the latest version from [product details](https://github.com/mozilla-releng/product-details/blob/db26c40c417159e6e45bcf844d9e4975ddce5b92/

[2019-04-09 07:49] #67 closed

[2019-04-09 07:52] mathiasbynens commented on #49
Now that the functionality to install a given version number is available, you could build this yourself on top of jsvu: https://github.com/GoogleChromeLabs/jsvu#installing-specific-versions

1. Get the version number (by getting it from omahaproxy, for example), e.g. `7.5.202`
1. Run `jsvu v8@7.5.202`

[2019-04-09 07:52] #49 closed

[2019-04-09 07:53] mathiasbynens commented on #34
Closing, as nothing happened here. Feel free to reopen once my earlier requests are resolved.

[2019-04-09 07:53] #34 closed

[2019-04-12 15:32] rwaldron opened #68 "Incorrect path being made in .cmd wrapper on windows."
Following the execution path:

https://github.com/GoogleChromeLabs/jsvu/blob/853836d94d207f6c8f487f272121b0bd4a5f7b72/shared/installer.js#L46
https://github.com/GoogleChromeLabs/jsvu/blob/853836d94d207f6c8f487f272121b0bd4a5f7b72/shared/installer.js#L131-L132
https://github.com/GoogleChromeLabs/jsvu/blob/853836d94d207f6c8f487f272121b0bd4a5f7b72/shared/installer.js#L134

Which results in this:

[cod

[2019-04-12 16:13] mathiasbynens commented on #68
What's the expected result? What's broken exactly?

[2019-04-12 18:07] rwaldron commented on #68
Aren't these invalid windows paths?

- `engines/v8\v8.exe`
- `engines/v8\natives_blob.bin`
- `engines/v8\snapshot_blob.bin`

This portion: `engines/v8`, which gets made in ``this.targetRelPath = `engines/${engine}`; `` is never passed through a `path.normalize()`.

[2019-04-12 20:43] mathiasbynens commented on #68
`cmd.exe` accepts both `\` and `/`. We could change the remaining `/` into `\` on Windows but it would be an unobservable change 🤷🏼‍♂️

[2019-04-19 02:20] mhofman opened #69 "Install as devDependency"
I'd like to use `jsvu` to help run some tests on various engines for a package I'm writing.
For that I wouldn't install `jsvu` globally but instead would have it as a devDependency.

In that case I want `jsvu` to install engines in a specific folder inside the project's root, instead of in the user's home.

[2019-04-19 08:50] mathiasbynens commented on #69
Could you unpack this use case a little bit for me?

The unstated assumption in your request is that jsvu-installed binaries suffer from the same versioning/collision problems that npm packages do, but that’s not the case.

If two local projects I’m working on both depend different versions of `lodash`, then of course the project-specific version must be installed within the relevant project direc

[2019-04-19 16:52] mhofman commented on #69
I guess my main issue is a conceptual one. If my package uses jsvu internally, it feels weird for it to rely on external files.

One impact of that is what if the user doesn't have jsvu installed, in particular didn't setup it's `$PATH`.\
I guess installing as a devDependency, and invoking `jsvu v8@7.4 && ~/.jsvu/v8-7.4.288` in an npm script would do the trick.

[2019-04-20 09:38] mathiasbynens commented on #69
Exactly! Alternatively, you could set the `PATH` as part of the `npm script`. (It would only alter the `PATH` for that particular command.)

[2019-04-24 12:03] mathiasbynens commented on #68
To be clear, I'd definitely accept a patch that uses `path.join` instead of hardcoding the `/` in `shared/installer.js`. It's just not a priority IMHO since it doesn't change behavior.

[2019-06-24 08:31] mgol opened #71 "ChakraCore v1.11.9 is downloaded instead of the latest v1.11.10"
Running `jsvu` downloads ChakraCore v1.11.9 instead of the latest v1.11.10, at least on macOS 10.14.5 (18F203). Re-running it doesn't help:
[code]

[2019-06-24 08:32] mgol commented on #71
Here's the `v1.11.10` release: https://github.com/microsoft/ChakraCore/releases/tag/v1.11.10

[2019-06-24 08:35] mathiasbynens commented on #71
This happens because https://aka.ms/chakracore/version still returns `1_11_9`. Looks like someone forgot to update this resource as part of the release process? @zenparsing

[2019-06-24 20:39] mathiasbynens commented on #71
This has been fixed upstream.

[2019-06-24 20:39] #71 closed

[2019-07-07 21:52] stefanos1316 commented on #35
Hello,

I am trying to install major released of v8 below 6 but I get a 403 HTTP message.
I am using jsvu v 1.7.1 and node version 11.13.
The command is the following:

`jsvu v8@5.0.1`

Any clue on what I am doing wrong?

[2019-07-08 06:31] mathiasbynens commented on #35
See <https://github.com/GoogleChromeLabs/jsvu#installing-specific-versions>:

See https://docs.google.com/spreadsheets/d/1fVRDI45OTRwm7Ccta1SuId7aCzz1iDfTQw-ZCJEH5xA/edit for an overview of currently available V8 versions. We actually retro-actively compiled and uploaded several old versions, but not as far back as V8 v5.0.

[2019-07-08 06:49] stefanos1316 commented on #35
I see, thanks a lot for the info!

[2019-07-08 06:56] mathiasbynens commented on #35
Btw, I would love to hear more about how you're using jsvu and your use case for having these old V8 versions. Feel free to shoot me an email at mths@google.com :) Thanks!

[2019-07-08 07:30] stefanos1316 commented on #35
Thanks a lot Mathias, it is mainly for research purpose and specifically for an idea I had. I will compose a mail soon enough and let you know!

Kind regards,
Stefanos

[2019-07-11 18:42] mathiasbynens opened #72 "Support `hermes`?"
https://github.com/facebook/hermes/issues/17

[2019-07-11 19:03] mathiasbynens opened #73 "Support QuickJS?"
https://bellard.org/quickjs/

I've emailed Fabrice asking to see if he'd be willing to provide precompiled binaries.

[2019-07-12 12:15] mathiasbynens commented on #72
This is now available in `jsvu@1.8.0`.

[2019-07-12 12:15] #72 closed

[2019-07-23 05:52] leobalter opened #75 "Support engine262?"
I'd like to have a pre-compiled engine262 available in jsvu. I would use it for projects like the test262.report, similarly to #73 and #72

https://github.com/engine262/engine262

Thanks!

[2019-07-23 06:45] mathiasbynens commented on #75
engine262 is not "compiled" though, so I'm not sure what it would mean to offer "precompiled" engine262 binaries. Perhaps using [`pkg`](https://github.com/zeit/pkg) to create standalone binaries?

I'm open to the idea, but at this point I'm not sure if it makes sense.

@devsnek @timothygu What do you think?

[2019-07-23 06:46] #56 closed

[2019-07-23 06:47] mathiasbynens commented on #56
[code]

[2019-07-23 13:06] devsnek commented on #75
I think I can generate js bundles. If you're running jsvu you have node so i think that should be enough.

[2019-07-23 13:52] mathiasbynens commented on #75
But then again if you have `node`, you have `npm`, so why not just `npm install -g engine262`? @leobalter?

jsvu is all about getting easy access to JS engine binaries, without having to compile them from source yourself. For engine262 there is no real “binary” and so this doesn’t apply.

[2019-08-08 15:36] bmeck opened #76 "add xsbug to XS?"
XS has a custom executable for debugging unlike the other engines. What are the thoughts on including it? Seems like a doable PR if I know any objections or constraints.

[2019-08-08 15:40] mathiasbynens commented on #76
jsvu is intended to provide JavaScript engine binaries for use on the command-line and with eshost. On first glance, xsbug does not seem to be a separate JavaScript engine, but a separate binary to be used alongside an xs environment. As such I'm leaning towards not doing this, but I'd love to understand your use case better! Can you elaborate? cc @phoddie

[2019-08-08 16:09] bmeck commented on #76
Mostly I'm trying to debug things and not just run them ;p , using a version manager is easier than telling peers to build from scratch. `d8` ships with this by default https://v8.dev/docs/inspector but other engines might not.

[2019-08-12 12:31] anba opened #77 "SpiderMonkey nightly builds"
[spidermonkey/get-latest-version.js](https://github.com/GoogleChromeLabs/jsvu/blob/master/engines/spidermonkey/get-latest-version.js) currently only supports Beta builds, but it should also be possible to download Nightly builds:

- Nightly binaries are available at <https://archive.mozilla.org/pub/firefox/nightly/latest-mozilla-central/>.
- The build-id can either be retrieved by scraping <https:

[2019-08-18 15:40] mathiasbynens commented on #73
Fabrice says:

[2019-08-19 06:47] mathiasbynens commented on #73
And there is now a [`LATEST.json`](https://bellard.org/quickjs/binary_releases/LATEST.json] file as well!

[2019-08-19 07:26] mathiasbynens commented on #73
For those following along, Fabrice and I are still discussing a few final changes to the tarball structure over email. I have a local patch that adds QuickJS support, but with just a few minor upstream changes the jsvu implementation could be simplified significantly. Stay tuned!

[2019-08-19 08:54] #73 closed

[2019-09-24 07:32] pmatos opened #80 "Linux Arch - jsvu fails silently to install engines"
On Linux Arch, I used `npm` to install jsvu.
Once completed, running:
[code]

causes jsvu to stop at extracting chakra. Result is success but nothing is in `~/.jsvu`. Is there any verbose mode I can start to understand what's going on?

[2019-09-24 08:02] mathiasbynens commented on #80
I just tested using jsvu@1.9.0 on linux64 and it works for me:

[code]

There is no more verbose mode than the default. To figure out what's happening, you could clone the repo, add some good ol' `console.log` statements, and run `node cli.js`. Let me know if you find a way for me to reproduce it!

[2019-09-24 08:19] pmatos commented on #80
Thanks - I will go the `console.log` route. I will report back.

[2019-09-24 08:36] pmatos commented on #80
Looking all good from the `node` command line:
[code]

Assertion failure installing chakra but otherwise all good. I will keep using it straight from `master` for now. Thanks.

[2019-09-24 08:36] #80 closed

[2019-10-04 14:12] rwaldron opened #81 "V8 commit: "Remove JS natives support, step 1" broke JSVU's V8 installation"
This commit: https://github.com/v8/v8/commit/28a9dc2b81faec353c8cbcfcba699e61910cf51c#diff-da88faf5ecb7458b02cfbdfab426c3c1 removed the `--natives_blob` flag. That flag is used in both `v8` and `v8-debug`:

- https://github.com/GoogleChromeLabs/jsvu/blob/master/engines/v8/extract.js#L45-L56
- https://github.com/GoogleChromeLabs/jsvu/blob/master/engines/v8-debug/extract.js#L44-L77

The result is:

[2019-10-04 15:23] mathiasbynens commented on #81
Thanks for the report!

We should change jsvu to use `--natives_blob` only for V8 versions prior to v7.9.

[2019-10-04 15:30] mathiasbynens commented on #81
Instead of doing it based on the version, we can detect if the `natives_blob.bin` file in the download exists and is larger than 1 byte.

[code]

Ideally we’d be able to just check for the existence of the file, but the latest download at <https://storage.googleapis.com/chromium-v8/official/canary/v8-mac64-rel-7.9.212.zip> contains a 1-byte `natives_blob.bin` (consisting of a single 0x00 byte). 🤷🏼

[2019-10-04 15:43] #81 closed

[2019-10-04 15:45] mathiasbynens commented on #81
Fix landed and published as `jsvu@1.9.1`.

[2019-10-04 16:38] rwaldron commented on #81
That was quick ❤️

[2019-10-06 00:17] mhofman commented on #81
It doesn't look like the problem is fully fixed:

[code]

[code]

[2019-10-07 10:41] mathiasbynens commented on #81
That's what I get for pushing hotfixes on a Friday :) @mhofman This should be resolved in `jsvu@latest`.

[2019-11-22 21:37] leobalter opened #84 "jsvu vs xs 9.0.2"
Something is going wrong when I try to fetch xst with jsvu:

[code]

[code]

I didn't have time to investigate the problem yet but I'm reporting here already.

cc @patrick-soquet

[2019-11-23 09:34] patrick-soquet commented on #84
Thank you for the report. Only the -e option is broken. I forgot to test it because I never use it. Sorry. It will be fixed in the next release.

The -s and -m  options that you are using for test262 should work well.

[2019-12-01 04:13] devsnek commented on #75
engine262 can be installed from here now: https://github.com/engine262/engine262/packages/66778

if jsvu did want to support this, it could grab and unzip the tarball same as other engines.

[2019-12-10 15:07] mgol commented on #84
@patrick-soquet This is still breaking running `jsvu` if you have XS installed. Any chance for a quick fix?

[2019-12-10 15:32] sebbu2 opened #86 "Add mozilla/rhino support"
@mozilla maintains a JavaScript engine here: https://github.com/mozilla/rhino

It’s written in Java and they provide a precompiled jar in github releases.

[2019-12-17 06:36] patrick-soquet commented on #84
Sorry for the delay. xs 9.0.3 has been released to fix this issue

[2019-12-17 08:48] mathiasbynens commented on #84
Actually, I'm still hitting the error even with xs v9.0.3:

[code]

@patrick-soquet Have you verified the fix?

[2019-12-18 06:14] patrick-soquet commented on #84
I had but then I uploaded the former version of the Linux builds. Sorry for that. I updated the release, it should be better.

[2019-12-18 07:00] #84 closed

[2019-12-18 18:50] michaelficarra commented on #84
@mathiasbynens maybe it would be good to check that the output of a "version" flag contains the version we think we're installing?

[code]

[2019-12-19 11:16] mathiasbynens commented on #84
@michaelficarra I considered that originally, but ran into too many issues such as [`javascriptcore` not having a version flag](https://bugs.webkit.org/show_bug.cgi?id=167802) and `spidermonkey` outputting something like `JavaScript-C72.0` whereas the version identifier `jsvu` installs it from is `v72.0b8`.

[2020-01-06 22:41] nicolo-ribaudo opened #87 "ENOENT while installing quickjs"
When I run `jsvu`, I get this error:

[code]

The contents of that temporary directory are
[code]

OS: Linux 64 bit

Maybe the contents of the QuickJS archive changed recently?

[2020-01-07 09:26] mathiasbynens commented on #87
I've pinged Fabrice about this.

[2020-01-07 09:52] mathiasbynens commented on #87
Fabrice's response:

So, it'd be best to change the logic as follows: if `qjsbn` is present in the ZIP, install that. Else, install `qjs`. (This ensures that installing older QuickJS versions still works as before.) Patches welcome!

[2020-01-07 09:56] mathiasbynens commented on #87
Alternatively, simply assume modern behavior, and just install `qjs`. This means that anyone explicitly installing an older `quickjs` version would not get `BigInt` support anymore (whereas with current jsvu, they would), but that might not be the end of the world given `quickjs` releases are not tied to a browser (and thus installing older versions does not seem as useful).

[2020-01-14 23:44] devsnek commented on #75
I think it would make more sense to include engine262 with jsvu. I'm not sure why there is a difference between downloading an engine262 build tar and a v8 build tar.

[2020-01-15 06:38] mathiasbynens commented on #75
The difference is what I said above: the current `engine262` tars don't include an actual binary.

**jsvu makes it easier to install JS engine binaries so you don't have to compile them from source all the time.** Conceptually, after installing an engine with jsvu, you can uninstall Node.js and npm and still have the binaries work, because they're standalone binaries. With `engine262` this is not

[2020-01-15 06:49] devsnek commented on #75
@mathiasbynens is the idea that anything with a runtime dependency that is not included in the release package should not be distributed by jsvu?

[2020-01-27 06:53] #87 closed

[2020-01-27 06:55] mathiasbynens commented on #87
I've went with the latter approach.

[2020-02-08 10:05] frank-dspeed commented on #50
chakracore does - Windows 10 (ARM) & Windows 10 (ARM64)

[2020-02-08 10:07] frank-dspeed commented on #50
@mathiasbynens what do you think about a engine build service i could create a repo that builds all engines for all platforms i can simply use github hooks to automate that.

[2020-02-09 19:45] liorean commented on #50
Firefox nightlies contain Win64-Aarch64 builds. https://archive.mozilla.org/pub/firefox/nightly/latest-mozilla-central/

[2020-05-31 15:49] igor-simoes opened #91 "Missing files when try to update V8 and Hermes"
Hello, I'm trying to update my engines via jsvu.
The engines Chakra, SpiderMonkey and JavaScriptCore works as expected, but V8 throws a Promisse error when try to rename a file that does not exists.
The zip file extracted does not contains the natives_blob.bin, only the `snapshot_blob.bin` and `icudtl.dat`.

[code]
I tried to install Hermes too and another error was thrown.
[code]

[2020-05-31 16:27] #91 closed

[2020-05-31 16:28] igor-simoes commented on #91
Closing this issue, my jsvu version was outdated.

[2020-07-07 10:10] allan2coder opened #93 "when I run jsvu it occur error"
when I run jsvu it occur error `✖ V8 debug v8.6.69 is already installed.`
Is it normal?
![image](https://user-images.githubusercontent.com/14307551/86766276-e6dde180-c07c-11ea-905e-2ccda3f81791.png)

[2020-07-07 10:12] mathiasbynens commented on #93
What happens when you run `v8-debug -e "print(1+1)"`? If it prints `2` then it would indeed seem like it's already installed.

[2020-07-13 06:35] allan2coder commented on #93
ok

[2020-07-13 06:35] allan2coder commented on #93
ok

[2020-07-13 06:35] #93 closed

[2020-07-14 08:05] allan2coder opened #94 "Warning: unknown flag --natives_blob=~/.jsvu/engines/v8-debug/natives_blob.bin"
when i type `v8-debug --allow-natives-syntax test.js`, it print:
[code]
but I want to get like this:
[code]
Is something wrong with my jsvu? thx.

[2020-07-14 08:28] mathiasbynens commented on #94
Which jsvu version are you using? Try updating to the latest version.

[2020-07-16 11:09] mathiasbynens commented on #94
I can reproduce this after clearing the `~/.jsvu` folder and installing `v8-debug` with the latest `jsvu`.

[2020-07-16 14:37] #94 closed

[2020-08-05 06:38] mathiasbynens opened #96 "hermes@0.6.0 broke jsvu"
Looks like the Hermes team changed something about the way they publish new releases, causing jsvu to break:

[code]

[2020-08-05 06:50] mathiasbynens commented on #96
Previous versions of hermes had `hermes-repl` for the REPL and `hermes` for the compiler. (https://github.com/facebook/hermes/issues/17#issuecomment-510850808)

Starting with v0.6.0, it looks like the REPL is now called `hermes`, and the compiler is now `hermesc`.

[2020-08-05 07:01] #96 closed

[2020-08-05 07:11] mathiasbynens opened #97 "`jsvu some-engine` (without `@version`) should behave as `jsvu --engines=some-engine`"

[2020-08-28 17:20] clopez opened #98 "Update code for getting the last jsc built product on Linux"
The built products available at https://webkitgtk.org/jsc-built-products were following the pattern of
[code]
I changed that in https://bugs.webkit.org/show_bug.cgi?id=215266 and now the pattern is
[code]

So the code in engines/javascriptcore/get-latest-version.js has to be updated accordingly.

BTW, instead of sorting the apache/http directory view by last modified and getting the last sha256sum

[2020-08-29 08:58] mathiasbynens commented on #98
Thanks!

https://webkitgtk.org/jsc-built-products/x86_32/release/ is empty, and https://webkitgtk.org/jsc-built-products/x86_32/release/LAST-IS does not exist — is that intentional? Are there no more linux32 JSC builds?

[2020-08-31 21:23] clopez commented on #98
It has been already a while (more than 1 year) that we don't have any i686 JSC or WebKitGTK builder/tester at build.webkit.org
So we are not providing Linux x86_32 JSC builds anymore.

[2020-09-01 05:21] mathiasbynens commented on #98
Thanks. The changes have landed and are available in `jsvu@1.11.4`.

[2020-09-01 05:21] #98 closed

[2020-09-28 15:36] ruoru opened #100 "Not support v8 --print-scopes"
i am install
[code]

it can not run
[code]

[2020-09-28 15:39] mathiasbynens commented on #100
`--print-scopes` is only available for V8 debug builds. Try `jsvu --os=mac64 --engines=v8-debug`.

[2020-09-28 15:39] #100 closed

[2020-11-08 13:39] bellard opened #101 "QuickJS now has win32, win64, linux32 and linux64 binaries"

[2020-11-09 09:39] mathiasbynens commented on #101
Thanks for the heads up! Will make the changes.

[2020-11-12 13:58] mgol opened #102 "JavaScriptCore cannot be downloaded (HTTPError: Response code 404 (Not Found))"
When running latest `jsvu` (`1.12.0` right now) on macOS 10.15 with common engines added, I get the following:
[code]
Note the `JavaScriptCore` part:
[code]

[2020-11-12 15:59] mathiasbynens commented on #102
Looks like `https://build.webkit.org/builders/Apple%20Mojave%20Release%20%28Build%29?numbuilds=25` now 404s: https://github.com/GoogleChromeLabs/jsvu/blob/5f2df3ff476c65d676063326b0e7319ab2000060/engines/javascriptcore/get-latest-version.js#L39-L43

@msaboff @kmiller68 Any ideas on the new source of truth for the latest jsc version number?

[2020-11-12 16:02] mathiasbynens commented on #102
Ah, looks like the URL format just changed slightly, with spaces becoming hyphens: `https://build.webkit.org/builders/Apple-Mojave-Release-Build?numbuilds=25`

[2020-11-12 16:28] #102 closed

[2020-11-12 16:43] mathiasbynens commented on #102
Fix is available in `npm i -g jsvu@latest`!

[2020-11-12 17:13] mgol commented on #102
Thank you! 🙂

[2021-02-05 20:06] elinor-fung opened #104 "JavaScriptCore: support upstream build.webkit.org updates"
On macOS Catalina 10.15.7 with jsvu 1.12.2:
[code]

Looks like https://build.webkit.org/builders/Apple-Mojave-Release-Build?numbuilds=1 returns 404 now (I don't see `Apple-Mojave-Release-Build` listed at https://build.webkit.org/builders/):
https://github.com/GoogleChromeLabs/jsvu/blob/f96a395d6655b9a471014ee89c1709a56bc8db54/engines/javascriptcore/get-latest-version.js#L40-L43

I locally changed

[2021-02-08 08:29] mathiasbynens commented on #104
Looks like https://build.webkit.org/ changed to a new system recently (?).

Example ZIP URL:

[code]

[2021-02-09 07:06] mathiasbynens commented on #104
Confirmed: https://lists.webkit.org/pipermail/webkit-dev/2021-February/031690.html

[2021-02-09 09:14] mathiasbynens commented on #104
Here’s the steps to take for each builder, using [the `Apple-Win-10-Release-Build` builder](https://build.webkit.org/#/builders/67) (`builderid=67`) as an example.

1. Get the latest `buildid`:

[code]

    It’s `2737` in this case.

1. Get the `revision` for that `buildid` (in `buildsets[0].sourcestamps.revision`):

[code]

    It’s `272561` in this case.

1. This is enough to piece together the

[2021-02-09 10:03] #104 closed

[2021-03-26 11:59] mathiasbynens opened #105 "Support `mac64arm` generally"
The recent JSC-related patches already added some instances of `mac64arm` to the codebase. Now that V8 uploaders provide the relevant binaries (using `mac-arm64` instead of [`mac64`](https://github.com/GoogleChromeLabs/jsvu/blob/a297faab314fb7f794f403a8f29da4e166af2884/engines/v8/predict-file-name.js#L19) in their filename) we should do the following:

- [ ] add V8 `mac64arm` support
- [ ] documen

[2021-03-26 17:26] #105 closed

[2021-03-26 17:43] mathiasbynens opened #107 "Test JSC on mac64arm"
[I _think_ it should work](https://github.com/GoogleChromeLabs/jsvu/pull/106#discussion_r602470194), but I don't have an M1 Mac to test. @surma, could you take a look when you get a chance?

[2021-03-26 23:10] surma commented on #107
it’s downloading _something_ with `arm64` in the name. But it’s ~500MB (🤯 ) and then it fails. I’ll investigate later

<img width="1598" alt="Screenshot 2021-03-26 at 23 10 29" src="https://user-images.githubusercontent.com/234957/112701413-7be16e80-8e88-11eb-8b9e-65072e80355e.png">

[2021-03-28 17:13] #107 closed

[2021-04-13 02:41] gengjiawen opened #110 "[feat] provide quickjs macOS build using https://github.com/napi-bindings/quickjs-build"
Ref: https://github.com/napi-bindings/quickjs-build/releases

[2021-04-13 07:03] mathiasbynens commented on #110
If someone wants to submit a patch for this, note that it'd need to change https://github.com/GoogleChromeLabs/jsvu#security-considerations as well.

[2021-04-13 19:18] beriberikix opened #111 "Support wee8"
https://docs.google.com/document/d/1oFPHyNb_eXg6NzrE6xJDNPdJrHMZvx0LqsD6wpbd9vY/edit#

V8 has a build target called libwee8, which is a library that supports only WebAssembly, no JavaScript. It would be convenient to have an easy way to get builds via jsvu.

[2021-04-21 03:01] jkrems opened #112 "Mac ARM jsshell looks available now"
It looks like jsshell is now building as a universal binary:

* Example URL: https://archive.mozilla.org/pub/firefox/releases/89.0b2/jsshell/
https://archive.mozilla.org/pub/firefox/releases/89.0b2/jsshell/jsshell-mac.zip

[code]

Which means it's likely enough to treat `mac64arm` the same as `mac64`?

[2021-04-21 03:13] jkrems commented on #112
Checked that after added `mac64arm` to the switch statements in `spidermonkey/extract.js` and `spidermonkey/predict-url.js`, it looks like things are working:

[code]

[2021-04-21 05:54] mathiasbynens commented on #112
Nice! Do you want to submit a patch, @jkrems?

[2021-04-22 07:43] #112 closed

[2021-07-08 11:53] clhiker opened #114 "install hermes error"
✔ Found latest Hermes version: v0.8.0.
✔ URL: https://github.com/facebook/hermes/releases/download/v0.8.0/hermes-cli-linux-v0.8.0.tar.gz
✔ Download completed.
❯ Extracting…
Installing binary to ~/.jsvu/engines/hermes/hermes…
Installing symlink at ~/.jsvu/hermes pointing to ~/.jsvu/engines/hermes/hermes…
Installing binary to ~/.jsvu/engines/hermes/hermes-compiler…
Installing symlink at ~/.jsvu/herm

[2021-07-14 09:33] mathiasbynens commented on #114
I can reproduce this with Hermes on linux64. It looks like it’s a Hermes issue, though:

[code]

If you are seeing the same behavior, please [file an upstream issue](https://github.com/facebook/hermes/issues/new) and link to it here!

[2021-07-28 08:30] muzinian commented on #101
@mathiasbynens  When I install quickjs in windows,I get error as follow:

✔ URL: https://bellard.org/quickjs/binary_releases/quickjs-win-x86_64-2021-03-27.zip
✔ Download completed.
❯ Extracting…
✔ Extraction completed.
❯ Testing…
✖ Error: Command failed with exit code 2 (ENOENT): C:\Users\licheng/.jsvu/quickjs C:\Users\licheng\AppData\Local\Temp\7f89afc0c281b62e4f8fb296f5396916
spawn C:\Users\lich

[2021-07-28 08:33] mathiasbynens commented on #101
@muzinian Could you send a patch? Thanks!

[2021-07-28 08:51] muzinian commented on #101
@mathiasbynens I'm so sorry .I  can only read some javascript code.Sending a patch is beyond my power.

[2021-08-03 06:46] mathiasbynens opened #115 "Correct JSC build ID handling"
@Constellation reported:

[2021-09-19 02:38] rauchg opened #116 "Bad $PATH instruction"
The README recommends adding `~/.jsvu` to the `$PATH`. If you look at its contents, however:

[code]

you'll see that I get the `v8` binary (good!), but also I'm exposing `status.json` and `engines` to my `$PATH`

[code]

Is there a reason for not putting `v8` above inside a `bin` subdirectory and instructing users to add `~/.jsvu/bin` to `$PATH`?

[2021-09-20 05:50] mathiasbynens commented on #116
Not really. I agree it would be better. This would be a breaking change for people’s existing set-ups but we could give it a try. Patches welcome!

[2021-09-27 07:33] liudonghua123 commented on #101
The problem is the current code did not install correctly or completely. Maybe we can borrow some code from `xs`

https://github.com/GoogleChromeLabs/jsvu/blob/8d978c22a684f026548e4b5669b1ea1f38d2ad79/engines/quickjs/extract.js#L22-L41

https://github.com/GoogleChromeLabs/jsvu/blob/8d978c22a684f026548e4b5669b1ea1f38d2ad79/engines/xs/extract.js#L21-L51

[2021-09-27 07:45] liudonghua123 commented on #101
I changed some code, it seemed to work as expected.
![image](https://user-images.githubusercontent.com/2276718/134865671-bbf58795-1b25-4506-b955-ecbe60ed72b3.png)

[2021-10-04 11:47] darioscattolini opened #118 "JavaScriptCore version Not Found"
I get a 404 error when trying to install JavaScriptCore. This is identical to issue #102, but I have the latest jsvu version. It seems that the URL has changed again. I have searched [here](https://build.webkit.org/#/builders), if this is the correct source there is no Mojave Build any more.

[2021-10-18 16:35] BasixKOR opened #119 "Support Git Bash for Windows"
It would be nice to include some Shell-like extensionless files on Windows too.

Note: I'm willing to make a PR for this issue.

[2021-11-25 15:12] ruoru opened #120 "v8 build"
https://v8.dev/docs/build

is there any plan support build V8 without VPN，it too slow.

[2022-07-06 12:02] gengjiawen opened #121 "v8-debug warnings"
[code]

[2022-07-07 07:56] gengjiawen commented on #120
You can use prebuild docker to build v8, it has all the tool pre-bundled.
https://github.com/gengjiawen/v8-build

[2022-08-01 08:39] #115 closed

[2022-08-01 08:39] #118 closed

[2022-08-01 08:45] #120 closed

[2022-08-02 08:21] #116 closed

[2022-09-22 06:41] Jack-Works commented on #31
jsvu
📦 jsvu v1.13.4 — the JavaScript engine Version Updater 📦
✔ Read OS from config: win64
✔ Read engines from config: chakra, graaljs, hermes, javascriptcore, quickjs, spidermonkey, v8, xs
✔ Found latest Chakra version: v1.11.24.
✖ Chakra v1.11.24 is already installed.
❯ Finding the latest GraalJS version…
✖ TypeError: Cannot read properties of null (reading '1')
✔ Found latest Hermes version: v0

[2022-10-24 17:43] JavaScriptDude opened #126 "JavaScriptCore Not Installing on Ubuntu 20.04"
When running `jsvu`. I'm getting `Finding the latest JavaScriptCore version…` then `TypeError: Cannot read properties of null (reading '1')`.

Any idea how to resolve this?

Here is the full output:
[code]

[code]

[2022-10-29 13:17] nianxiongdi opened #127 "Trace/BPT trap: 5"
[code]